doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
        script(src='javascripts/jquery.min.js')
        script(src='javascripts/bootstrap.min.js')
            
        
        style.
            div.divClass {
            width: 205px;
            height: 205px;
            padding: 10px 10px 10px 10px;
            margin: 10px 10px 10px 10px;
            float: left;
            border-style: double;
            border-width: 5px;
            border-color: green;
            position: relative
            }

            div.divClass img {
            position: relative;
            max-width: 175px;
            max-height: 175px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            }

    body
        block content
  