body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 10px; 
    /*width: 200px;
    height: 150px;*/ 
}

th {
	text-align: left;
}

td {
	width: 120px;
}

div.divClass {
  width: 205px;
  height: 205px;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  float: left;
  border-style: double;
  border-width: 5px;
  border-color: green;
  position: relative
}

  div.divClass img {
  position: relative;
  max-width: 175px;
  max-height: 175px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.checkbox-class
{
  width:30px;
  height:30px;
  border-style: double;
  border-width: 5px;
  border-color: blue;
  position: relative;
}
.button-apply
{
  position: absolute;
  margin-left: -50px;
  left: 50%;
}